:root {
    --bg-color: #ebebeb;
    --input-placeholder: #d4d4d4;
    --input-bg: #efefef;
    --texto-destaque: #FFFF;
    --azul-destaque: #2a7ae4;
    --bg-contacto: #Eaf2fd;
    --texto-negro: #000000;
    --blanco: #FFFFFF;
    --grisform: #D9D9D9;

  }


.formulario{
background-color: var(--blanco);
margin: -6rem auto 0 auto;
width: 40%;
padding: 4rem;
}
.campo{
display: flex;
margin-bottom: 2rem;
gap: 2rem;
}

.campo_selection{
    display: flex;
    margin-bottom: 2rem;
    gap: 2rem;
    padding: 0.6rem;
    }


.campo__field{
    /*distender el campo del formulario con flex*/
flex: 1;
border: 1px solid var(--grisform);
height: 2rem;
border-radius: 10px;
}
.campo__field--textarea{
    height: 20rem;
}

 .button{
  background: none;
  border: 1px solid var(--azul-destaque);
  text-transform: uppercase;
    height: 40px;
    width: 200px;
 }

 .button:hover{
  background-color: var(--azul-destaque);
  color: var(--texto-destaque);
}

 .centrar-texto{
    text-align: center;
    font-size: 32px;
      font-weight: bold;
 }
  
 .logo:link, .logo:visited, .logo:active, .logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000000;
  }
 
  ::placeholder{
    color: red;
  }
  